body {
  background: #1f0f72;
  color: #ffffff;
  text-align: left;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  margin: 20px 0;
  font-size: 40px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.card,
.card .card-header,
.card .card-body,
.card .card-footer {
  border: none;
  text-align: center;
  background-color: #322196;
}
.card .card-header {
  font-size: 24px;
}
.card .card-body img {

}
.card .card-header h2 {
  margin: 0;
}